/*===========================
    01. Hero CSS
===========================*/

.hero-section {
  padding-top: 1.5rem;
}

.hero-section .hero-content-wrapper h2 {
  font-weight: 700;
  /*font-size: 25px;*/
  line-height: 50px;
  color: #AF40FF;
  margin-bottom: 0;
}

.hero-section .hero-content-wrapper h1 {
  font-weight: bold;
  /*font-size: 50px;*/
  line-height: 65px;
  color: #051441;
  margin-bottom: 25px;
}

.hero-section .hero-content-wrapper p {
  /*font-size: 18px;*/
  line-height: 26px;
  color: #6A7C92;
  opacity: 0.8;
  margin-bottom: 30px;
}

.hero-section .hero-img img {
  width: 100%;
}

@media only screen and (min-width: 992px) and (max-width: 1199.98px),
only screen and (min-width: 1200px) and (max-width: 1399.98px) {
  .hero-section .hero-content-wrapper h1 {
    font-size: 45px;
    line-height: 60px;
  }
}

@media (max-width: 767.98px) {
  .hero-section .hero-content-wrapper h1 {
    font-size: 40px;
    line-height: 52px;
  }
}


/*===========================
    02. Course CSS 
===========================*/

.course-section {
  background: #f2f5f7;
  position: relative;
  clip-path: polygon(0 0, 100% 5%, 100% 100%, 0 95%);
  padding-top: 14rem;
  padding-bottom: 1rem;
}

.course-section .container .containerbackground {
  margin-top: -60px;
  font-size: 300px;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: -1;
  color: white;
  display: flex;
  justify-content: center;
  width: 100%;
  font-weight: bold;
}

.course-section .container .course-content-wrapper img {
  margin-top: 20px;
  margin-bottom: 10px;
}

.course-section .container .course-content-wrapper p {
  margin-bottom: 10px;
}

.course-section .course-img img {
  width: 100%;
}

@media (max-width: 767.98px) {
  .course-section {
    clip-path: polygon(0 0, 100% 2%, 100% 100%, 0 98%);
  }
}

.course-section .course-row-2 .course-icon {
  display: flex;
  justify-content: center;
}

.course-section .course-row-2 .course-icon a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 95px;
  height: 95px;
  border-radius: 50%;
  text-align: center;
  line-height: 30px;
  background: rgba(106, 124, 146, 0.1);
  font-size: 45px;
  color: #6A7C92;
  margin-right: 15px;
}

@media only screen and (min-width: 1200px) and (max-width: 1399.98px),
{
  .course-section .container .containerbackground {
    margin-top: -30px;
    font-size: 250px;
  }
}

@media only screen and (min-width: 992px) and (max-width: 1199.98px),
{
  .course-section .container .containerbackground {
    margin-top: 5px;
    font-size: 200px;
  }
  .course-section {
    padding-top: 12rem;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991.98px),
{
  .course-section .container .containerbackground {
    margin-top: 75px;
    font-size: 175px;
  }
  .course-section {
    padding-top: 14rem;
    padding-bottom: 5.5rem;
  }
}

@media only screen and (min-width: 576px) and (max-width: 767.98px),
{
  .course-section .container .containerbackground {
    margin-top: 0px;
    font-size: 160px;
  }
  .course-section {
    padding-top: 8rem;
    padding-bottom: 0;
  }
}

@media (max-width: 575.98px),
{
  .course-section .container .containerbackground {
    margin-top: 10%;
    font-size: max(25vw, 30px);
  }
  .course-section {
    padding-top: 8rem;
  }
}

@media (max-width: 319.98px),
{
  .course-section {
    clip-path: unset;
    padding-top: 1rem;
  }
  .course-section .container .containerbackground {
    margin-top: 0;
    z-index: 0;
  }
}


/*===========================
    03. Info CSS 
===========================*/

.info-section {
  position: relative;
  padding-top: 10rem;
}

.info-section .container .containerbackground {
  margin-top: -120px;
  font-size: 300px;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: 0;
  color: #f2f0ff;
  display: flex;
  justify-content: center;
  width: 100%;
  font-weight: bold;
}

.info-section .info-icon {
  display: flex;
  justify-content: center;
}

.info-section .info-icon a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 95px;
  height: 95px;
  border-radius: 50%;
  text-align: center;
  line-height: 30px;
  background: rgba(106, 124, 146, 0.1);
  font-size: 45px;
  color: #6A7C92;
  margin-right: 15px;
}

.info-section .info-icon a:hover {
  background: linear-gradient(144deg, #AF40FF, #5B42F3 50%, #00DDEB);
  color: #fff;
}

.info-section .contacts .member {
  overflow: hidden;
  text-align: center;
  border-radius: 5px;
  background: #fff;
  box-shadow: 0px 0 30px rgb(1 41 112 / 8%);
  transition: 0.3s;
  margin: 10px;
}

.info-section .contacts .member .member-img {
  position: relative;
  overflow: hidden;
}

.info-section .contacts .member .member-img:after {
  position: absolute;
  content: "";
  left: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  background: url(../img/wave.svg) no-repeat center bottom;
  background-size: contain;
  z-index: 0;
}

.info-section .contacts .member .social {
  position: absolute;
  right: -100%;
  top: 40%;
  opacity: 0;
  border-radius: 4px;
  transition: 0.5s;
  background: rgba(255, 255, 255, 0.3);
  z-index: 1;
}

.info-section .contacts .member .social a {
  transition: color 0.3s;
  color: #05062D;
  margin: 15px 12px;
  display: block;
  line-height: 0;
  text-align: center;
}

.info-section .contacts .member .social a:hover {
  color: #af40ff;
}

.info-section .contacts .member .social i {
  font-size: 18px;
}

.info-section .contacts .member .member-info {
  padding: 10px 15px 20px 15px;
}

.info-section .contacts .member .member-info h4 {
  font-weight: 700;
  margin-bottom: 5px;
  font-size: 20px;
}

.info-section .contacts .member .member-info span {
  display: block;
  font-size: 14px;
  font-weight: 400;
  color: #aaaaaa;
}

.info-section .contacts .member .member-info p {
  font-style: italic;
  font-size: 14px;
  padding-top: 15px;
  line-height: 26px;
  color: #5e5e5e;
}

.info-section .contacts .member:hover {
  transform: scale(1.08);
  /*box-shadow: 0px 0 30px rgba(1, 41, 112, 0.1);*/
}

.info-section .contacts .member:hover .social {
  right: 8px;
  opacity: 1;
}

@media only screen and (min-width: 1200px) and (max-width: 1399.98px),
{
  .info-section .container .containerbackground {
    margin-top: -115px;
    font-size: 300px;
  }
}

@media only screen and (min-width: 992px) and (max-width: 1199.98px),
{
  .info-section .container .containerbackground {
    margin-top: -120px;
    font-size: 300px;
  }
  .info-section {
    padding-top: 11.5rem;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991.98px),
{
  .info-section .container .containerbackground {
    margin-top: -120px;
    font-size: 200px;
  }
  .info-section {
    padding-top: 3.5rem;
  }
}

@media only screen and (min-width: 576px) and (max-width: 767.98px),
{
  .info-section .container .containerbackground {
    margin-top: -75px;
    font-size: 200px;
  }
  .info-section {
    padding-top: 5.5rem;
  }
  .info-section .container .member_card {
    width: 50%;
  }
}

@media (max-width: 575.98px),
{
  .info-section .container .containerbackground {
    margin-top: -10%;
    font-size: max(30vw, 40px);
  }
  .info-section {
    padding-top: 3rem;
  }
  .info-section .container .member_card {
    width: 50%;
  }
}

@media (max-width: 459.98px),
{
  .info-section .container .member_card {
    width: 60%;
  }
}

@media (max-width: 389.98px),
{
  .info-section .container .member_card {
    width: 95%;
  }
}

@media (max-width: 319.98px),
{
  .info-section {
    clip-path: unset;
    padding-top: 2rem;
  }
  .info-section .container .containerbackground {
    margin-top: 0;
    z-index: 0;
  }
  .info-section .container .member_card {
    width: 80%;
  }
}


/*===========================
    04. Call-action CSS 
===========================*/

.call-action-section {
  background: #f2f5f7;
  position: relative;
  clip-path: polygon(0 0, 100% 9%, 100% 100%, 0 91%);
  padding-top: 19rem;
  padding-bottom: 1rem;
}

.call-action-section .container .containerbackground {
  margin-top: -30px;
  font-size: 260px;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: -1;
  color: white;
  display: flex;
  justify-content: center;
  width: 100%;
  font-weight: bold;
}

.call-action-section .call-action-counter-wrapper {
  align-items: center;
  text-align: center;
  justify-content: center;
}

.call-action-section .call-action-counter-wrapper h2 {
  display: inline-block;
  font-size: 1.5em;
  padding: 1em;
  text-transform: uppercase;
}

.call-action-section .call-action-counter-wrapper h2 span {
  display: block;
  font-size: 4.5rem;
}

.call-action-section .call-action-text-up-wrapper {
  align-items: center;
  text-align: center;
  justify-content: center;
}

.call-action-section .call-action-text-down-wrapper {
  align-items: center;
  text-align: center;
  justify-content: center;
  margin-bottom: 20px;
}

.call-action-section .row4 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.call-action-section .button-hero {
  display: flex;
  vertical-align: middle;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 25%;
}

@media (max-width: 767.98px) {
  .call-action-section {
    clip-path: polygon(0 0, 100% 3%, 100% 100%, 0 97%);
  }
}

@media only screen and (min-width: 1200px) and (max-width: 1399.98px),
{
  .call-action-section .container .containerbackground {
    margin-top: -30px;
    font-size: 250px;
  }
}

@media only screen and (min-width: 992px) and (max-width: 1199.98px),
{
  .call-action-section .container .containerbackground {
    margin-top: -20px;
    font-size: 220px;
  }
  .call-action-section {
    padding-top: 15.5rem;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991.98px),
{
  .call-action-section .container .containerbackground {
    margin-top: -10px;
    font-size: 185px;
  }
  .call-action-section {
    padding-top: 13rem;
  }
}

@media only screen and (min-width: 576px) and (max-width: 767.98px),
{
  .call-action-section .container .containerbackground {
    margin-top: 0px;
    font-size: 160px;
  }
  .call-action-section {
    padding-top: 12rem;
    padding-bottom: 0;
  }
}

@media (max-width: 575.98px),
{
  .call-action-section .container .containerbackground {
    margin-top: 0;
    font-size: max(25vw, 30px);
  }
  .call-action-section {
    padding-top: 10.5rem;
  }
}

@media (max-width: 424.98px),
{
  .call-action-section .container .containerbackground {
    margin-top: 7%;
  }
  .call-action-section {
    padding-top: 9rem;
  }
}

@media (max-width: 374.98px),
{
  .call-action-section .container .containerbackground {
    margin-top: 9%;
  }
  .call-action-section {
    padding-top: 10rem;
  }
}

@media (max-width: 319.98px),
{
  .call-action-section {
    clip-path: unset;
    padding-top: 5rem;
  }
  .call-action-section .container .containerbackground {
    margin-top: 0;
    z-index: 0;
  }
}


/*===========================
    05. Gallery/BEST CSS 
===========================*/

.gallery-best-section {
  position: relative;
  padding-top: 14rem;
  padding-bottom: 1rem;
}

.gallery-best-section .container .containerbackground {
  margin-top: -110px;
  font-size: 300px;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: -1;
  color: #f2f0ff;
  display: flex;
  justify-content: center;
  width: 100%;
  font-weight: bold;
}

.gallery-best-section .gallery-best-row-1-mobile{
  display: none;
}


.gallery-best-section .gallery-best-row-1 img {
  transition: 0.3s;
}

.gallery-best-section .gallery-best-row-1 h2 {
  color: #0082b8;
}

.gallery-best-section .gallery-best-row-1 h2:after {
  content: '';
  display: block;
  margin: 0 auto;
  width: 24px;
  height: 4px;
  margin-top: 10px;
  background-color: #bbde16;
  margin-bottom: 15px;
}

.gallery-best-section .gallery-best-row-1 .row:hover img {
  filter: grayscale(1);
  z-index: 1;
}

.gallery-best-section .gallery-best-row-1 .row img {
  margin-bottom: 1rem !important;
}

.gallery-best-section .gallery-best-row-1 .row img:hover {
  filter: grayscale(0);
  transform: scale(1.1);
}

.gallery-best-section .gallery-best-row-1 .carousel-indicators button {
  background: #af40ff;
  height: 7px;
  width: 100px;
  border: 0;
  border-radius: 10px;
  transform: translateY(0.7rem);
}

.gallery-best-section .container .best-content-wrapper img {
  margin-top: 20px;
  margin-bottom: 10px;
}

.gallery-best-section .container .best-content-wrapper p {
  margin-bottom: 10px;
}

.gallery-best-section .best-img img {
  width: 100%;
}

.gallery-best-section .gallery-best-row-2 {
  padding-bottom: 0 !important;
}

@media only screen and (min-width: 1200px) and (max-width: 1399.98px),
{
  .gallery-best-section .container .containerbackground {
    margin-top: -90px;
    font-size: 270px;
  }
}

@media only screen and (min-width: 992px) and (max-width: 1199.98px),
{
  .gallery-best-section .container .containerbackground {
    margin-top: -75px;
    font-size: 230px;
  }
  .gallery-best-section {
    padding-top: 12rem;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991.98px),
{
  .gallery-best-section .container .containerbackground {
    margin-top: -75px;
    font-size: 185px;
  }
  .gallery-best-section {
    padding-top: 8rem;
  }

}

@media only screen and (min-width: 576px) and (max-width: 767.98px),
{
  .gallery-best-section .container .containerbackground {
    margin-top: -30px;
    font-size: 150px;
  }
  .gallery-best-section {
    padding-top: 8rem;
    padding-bottom: 0;
  }
}

@media (max-width: 575.98px),
{
  .gallery-best-section .container .containerbackground {
    margin-top: -5%;
    font-size: max(25vw, 30px);
  }
  .gallery-best-section {
    padding-top: 5.5rem;
  }

  .gallery-best-section .gallery-best-row-1-mobile .carousel-item img{
       max-width: 100%;
       object-fit: cover;
       top: 0;
       left: 0;
       height: 300px;
       object-position: center bottom;
  }
}

@media (max-width: 424.98px),
{
  .gallery-best-section {
    padding-top: 4rem;
  }
}

@media (max-width: 374.98px),
{
  .gallery-best-section {
    padding-top: 2.5rem;
  }
}

@media (max-width: 319.98px),
{
  .gallery-best-section {
    clip-path: unset;
    padding-top: 1.2rem;
  }
  .gallery-best-section .container .containerbackground {
    margin-top: 0;
    z-index: 0;
  }
}

@media (max-width: 991.8px),
{
  .gallery-best-section .container {
    padding-bottom: 0 !important;
    color: red;
  }

  .gallery-best-section .gallery-best-row-1{
  display: none;
  }

  .gallery-best-section .gallery-best-row-1-mobile{
  display: unset;
  }

  .gallery-best-section .gallery-best-row-1-mobile .slide{
  padding: 0 !important;
  }
}